.default{
    color: rgba(255, 255, 255, 0.678);
    @apply bg-tertiary;

    p{
        font-weight:300
    }
}

.paper{
    @apply text-gray-700;
    background-color: #FAF0DA;
}

.white{
    @apply text-gray-700;
    @apply bg-white;

 
}


.blog{ 
   

    h1{
        border-left:3px solid  #E94560;
        @apply text-2xl font-medium
    }

    h2{
        border-left:3px solid  #E94560;
        padding: 12px 12px 6px 12px;
        margin: 30px 12px;
        letter-spacing: 1.2px;
        @apply text-2xl font-medium;
    }

    h3{
        border-left:3px solid  #E94560;
        padding:12px 12px 6px 12px;
        font-size: 1.5rem;
        line-height: 2.25rem;
        margin: 30px 12px;
        letter-spacing: 1.2px;
        @apply text-lg font-medium
    }

    p{
        padding: 0px 18px;
        font-size: 1.35rem;
        letter-spacing: 1.6px;
        margin-bottom: 20px;
        @apply text-lg;

        img{
            margin: 12px auto;    
        }
    }

    a{
        color:#E94560;
        border-bottom: 0.5px dotted #E94560;
        @apply text-base
    }

    blockquote{
        margin: 12px 12px;
        background-color: rgba(196, 196, 196, 0.301);
        border-radius: 5px;
        border-left: 5px  #E94560 solid;
        font-style: italic;
        font-weight: 300;

        p{

            @apply text-xl p-6;
        }
    }

    ul{
        list-style-type: initial;
        margin: -12px 12px 12px 12px;
        @apply text-lg;

        li{
            margin: 16px 36px;
            p{
                margin: 0px;
                
            }
        }
    }

    pre{
        margin: 12px 12px;
        border-radius: 6px;
        background-color: #141414;


        code{
            min-width: 540px;
            overflow-x: auto;
        }
    }

    img{
        border-radius: 6px;
    }

    div{
        img{
            margin: 12px auto;  
        }
    }



}
