@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .R-header {
      @apply text-secondary border-b border-dotted inline-block mb-3 mt-2 text-xl font-bold border-secondary;
    }

    .R-section-base {
        @apply font-light text-sm;
    }

    .R-sub-header {
        @apply font-semibold text-base;
    }

    .R-highligth {
        @apply italic  text-sm font-medium text-secondary;
    }

    .R-extras {
        @apply italic font-extralight text-xs
    }

    .R-section {
        @apply border-none border-gray-700 pb-5 mb-3
    }

    .R-text-highlight {
        @apply bg-opacity-25 bg-pink-300
    }

    .R-container {
        width: 370px;
        min-width: 370px;
        max-width: 370px;
    }
    

    .R-max-hieght{
        max-height: 984px;
    }


  }